MeguBot/config.py
MeguBot/*.session
MeguBot/*.session-journal
MeguBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
MeguBot/modules/helper_funcs/temp.txt
MeguBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
megubot.session-journal
updates.txt
